<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fl.mapper.UserMapper">


    <select id="selectPage" resultType="com.fl.entity.FilmSourceRecord">
select smu.* from sys_role_ref_route srrm left join sys_menu smu on smu.id = srrm.menu_id where srrm.role_info_id =2;    </select>
</mapper>
