<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fl.mapper.UserMapper">


    <select id="selectPage" resultType="com.fl.entity.FilmSourceRecord">
        select * from filmsource_manager limit #{offset},#{page};
    </select>
</mapper>
